replicaCount: 2

image:
  repository: <your-dockerhub-username>/devops-platform-app
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

ingress:
  enabled: false  # אפשר להפעיל אם תתקין Nginx Ingress Controller
  className: ""
  hosts:
    - host: demo.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
