apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "devops-demo-app.fullname" . }}
  labels:
    app: {{ include "devops-demo-app.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "devops-demo-app.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "devops-demo-app.name" . }}
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
          env:
            - name: APP_ENV
              value: "prod"
            - name: APP_VERSION
              value: "{{ .Chart.appVersion }}"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
